* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
  }
  
  .container {
    position: relative;
    width: 100%;
    margin: 0%;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90%;
    padding: 20px;
  }

  .navbar {
    background-color: black;
    overflow: hidden;
    position: sticky;

}