<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/js/mdb.min.js"></script>
</head>
<body>
  

    <nav class="navbar navbar-expand-lg navbar">
        <div class="container-fluid">
    <div class="navbar-header">
        
    
        
        <img src="../../assets/logo.png" width="200px" height="50px">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#" style="color: white">Home</a></li>
      <li><a href="#" style="color: white">Page 1</a></li>
      <li><a href="#" style="color: white">Page 2</a></li>
      <li><a href="#" style="color: white">Page 3</a></li>
      
    </ul>
  </div>
</nav>
  
<app-homepage></app-homepage>

</body>
</html>
